.parent {
    -fx-background-color: white;
}

.sidebar {
    -fx-background-color: #99ffcc;
}

.loginBtn {
    -fx-background-color: #99ffcc;
    -fx-text-fill: #FFF;
    -fx-background-radius: 3px;
}

.loginBtn:hover {
    -fx-background-color: transparent;
     -fx-background-radius: 3px;
    -fx-text-fill: #99ffcc;
    -fx-border-color: #99ffcc;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 3px;
}